* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  /* USER-AGENT: 16px === 1rem */
  font-size: 62.5%;
}

body {
  width: 500px;
  height: 150px;
  margin: 0 auto;

  background: #eeaeca;
  background: radial-gradient(
    circle,
    #eeaeca 0%,
    #94bbe9 100%
  );

  color: whitesmoke;

  font-size: 1.7rem;

  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;

  text-align: center;
}

.block {
  display: block;
}

.github {
  width: 100px;
  color: inherit;
  background-color: #d8c0d8;
  border-radius: 15px;
}

.github:hover {
  background-color: #d8c0d880;
}

h2 {
  color: #81a6cf;
}
